<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 153 153" style="width: 150px; height: 150px;">
    <title>calendar-no-staff</title>
    <circle cx="76.5" cy="76.5" r="76.5" style="fill:#ebf5fd"></circle>
    <circle cx="77" cy="78" r="44" style="fill:#ebf5fd"></circle>
    <path d="M36,60.85h78v53.3H36Z" style="fill:#fff"></path>
    <path d="M37,43.6h75V58.4H37Z" style="fill:#ffd45e"></path>
    <path d="M114,41.07,99,41V37.46A2.45,2.45,0,0,0,96.51,35h0a2.45,2.45,0,0,0-2.43,2.46h0V41H55.81V37.46A2.45,2.45,0,0,0,53.38,35h0a2.44,2.44,0,0,0-2.44,2.46h0V41l-14.86.06L36,59.6a1.61,1.61,0,0,0,.08.38,1.72,1.72,0,0,0-.08.38s0,17.56.08,52.64h70.61a7.35,7.35,0,0,0,7.31-7.37V60.39a2.29,2.29,0,0,0-.08-.41,2.33,2.33,0,0,0,.08-.38V41.07Zm-3.66,65.69a2.55,2.55,0,0,1-2.52,2.58l-68.16-.14V61.81h70.68v45Zm-.61-48.27H40.27V45.6l10.24-.26v3.89a2.49,2.49,0,1,0,5,0V45.34h39v3.89a2.49,2.49,0,1,0,5,0V45.34h10.31Z" style="fill:#24334a;"></path>
    <circle cx="60.77" cy="72.42" r="2.63" style="fill:#24334a"></circle>
    <circle cx="73.42" cy="72.42" r="2.63" style="fill:#24334a"></circle>
    <circle cx="87.12" cy="72.42" r="2.63" style="fill:#24334a"></circle>
    <circle cx="100.82" cy="72.42" r="2.63" style="fill:#24334a"></circle>
    <circle cx="49.18" cy="80.85" r="2.63" style="fill:#24334a"></circle>
    <circle cx="60.77" cy="80.85" r="2.63" style="fill:#24334a"></circle>
    <circle cx="73.42" cy="80.85" r="2.63" style="fill:#24334a"></circle>
    <circle cx="87.12" cy="80.85" r="2.63" style="fill:#24334a"></circle>
    <circle cx="100.82" cy="80.85" r="2.63" style="fill:#24334a"></circle>
    <circle cx="49.18" cy="89.28" r="2.63" style="fill:#24334a"></circle>
    <circle cx="60.77" cy="89.28" r="2.63" style="fill:#24334a"></circle>
    <circle cx="73.42" cy="89.28" r="2.63" style="fill:#24334a"></circle>
    <circle cx="87.12" cy="89.28" r="2.63" style="fill:#24334a"></circle>
    <circle cx="100.82" cy="89.28" r="2.63" style="fill:#24334a"></circle>
    <circle cx="49.18" cy="97.72" r="2.63" style="fill:#24334a"></circle>
    <circle cx="60.77" cy="97.72" r="2.63" style="fill:#24334a"></circle>
    <circle cx="73.42" cy="97.72" r="2.63" style="fill:#24334a"></circle>
    <circle cx="105" cy="103" r="15" style="fill:#dee3e7"></circle>
    <path d="M105,119.5A16.5,16.5,0,1,1,121.5,103,16.52,16.52,0,0,1,105,119.5Zm0-30A13.5,13.5,0,1,0,118.5,103,13.52,13.52,0,0,0,105,89.5Z" style="fill:#24334a"></path>
    <path d="M99,107.34h12.25a1.17,1.17,0,0,1,1.26,1.07v8.2H97.74v-8.2A1.17,1.17,0,0,1,99,107.34Z" style="fill:#ffc857"></path>
    <ellipse cx="105.3" cy="98.42" rx="4.39" ry="4.64" style="fill:#fff"></ellipse>
    <path d="M105,119c-4,0-7-1-8.73-3l-.31-.35v-6.51a3.67,3.67,0,0,1,3.6-3.73h4.77a5.8,5.8,0,1,1,1.93,0h4.18a3.67,3.67,0,0,1,3.6,3.73v6.51l-.31.35C111.93,118,109,119,105,119Zm-6.54-4.35c1.31,1.23,3.5,1.85,6.54,1.85s5.23-.62,6.54-1.85v-5.54a1.17,1.17,0,0,0-1.1-1.23H99.51a1.17,1.17,0,0,0-1.1,1.23ZM105.25,96a3.48,3.48,0,1,0,3.29,3.47A3.39,3.39,0,0,0,105.25,96Z" style="fill:#24334a"></path>
    <path d="M104.07,107v5.19h1.41V107Z" style="fill:#24334a"></path>
    <rect x="103.63" y="106.59" width="2.28" height="6.03" style="fill:#24334a"></rect>
</svg>