<span>
    <svg viewBox="0 0 97 95" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
            <path d="M55.714 36.37l5.024-6.624c.25-.368.376-.858.125-1.226-.125-.246-2.637-5.152-10.549-5.52h-.628c-7.786.49-10.424 5.274-10.55 5.52-.25.368-.125.858.126 1.226l4.898 6.501c-.25.245-.502.613-.502.981v4.17c0 .737.502 1.227 1.256 1.227h.377l1.883 48.45c0 1.104.126 3.925 2.763 3.925s2.763-2.821 2.763-3.925l1.633-48.45h.376c.754 0 1.256-.49 1.256-1.226v-4.17c.126-.369 0-.614-.25-.86zm-9.293 3.802v-1.717h7.284v1.717H46.42zm3.642-14.719c4.898.245 7.284 2.453 8.163 3.557l-5.4 6.992h-5.652L41.9 29.01c.879-1.104 3.265-3.434 8.163-3.557zm.251 65.5c0 1.226-.126 1.471-.251 1.471h-.126c0-.122-.251-.368-.251-1.472l-1.633-48.327h3.894l-1.633 48.327zM97 41.307C97 31.232 88.681 23 78.5 23s-18.376 8.232-18.376 18.307c0 8.478 5.96 15.604 13.906 17.693C65.96 60.966 60 68.215 60 76.693 60 86.768 68.319 95 78.5 95S97 86.768 97 76.693C97 68.215 91.04 61.089 83.094 59 91.04 57.034 97 49.908 97 41.307zm-2.607 35.386c0 8.723-7.202 15.85-16.017 15.85-8.816 0-16.017-7.127-16.017-15.85 0-8.724 7.201-15.85 16.017-15.85 8.815 0 16.017 7.126 16.017 15.85zM78.624 57.157c-8.815 0-16.017-7.126-16.017-15.85 0-8.723 7.202-15.85 16.017-15.85 8.816 0 16.017 7.127 16.017 15.85-.124 8.724-7.201 15.85-16.017 15.85z" fill="#24334A" fill-rule="nonzero"></path>
            <path d="M78.5 27C70.568 27 64 33.444 64 41.5A14.44 14.44 0 0 0 78.5 56 14.44 14.44 0 0 0 93 41.5C93 33.444 86.432 27 78.5 27zm0 26.521c-6.568 0-12.021-5.329-12.021-12.021 0-6.568 5.329-12.021 12.021-12.021 6.568 0 12.021 5.329 12.021 12.021-.124 6.692-5.453 12.021-12.021 12.021z" fill="#24334A" fill-rule="nonzero"></path>
            <circle fill="#F7B2BF" cx="79" cy="77" r="14"></circle>
            <path d="M64 76.5C64 84.432 70.444 91 78.5 91A14.44 14.44 0 0 0 93 76.5 14.44 14.44 0 0 0 78.5 62C70.444 62 64 68.568 64 76.5zm13.26-11.897V75.26H66.604c.495-5.577 5.08-10.163 10.658-10.658zM66.604 77.739H77.26v10.658c-5.577-.495-10.163-4.957-10.658-10.658zm13.136 10.782V77.863h10.658c-.495 5.577-4.957 10.039-10.658 10.658zm10.782-13.26H79.863V64.603c5.577.495 10.039 5.08 10.658 10.658z" fill="#24334A" fill-rule="nonzero"></path>
            <path fill="#EFF6FD" d="M2 1h31v50H2z"></path>
            <path d="M12 51h9v38.805C18.972 91.935 17.472 93 16.5 93s-2.472-1.065-4.5-3.195V51z" fill="#A4ADBA"></path>
            <path d="M78.22 32c-.732 0-1.22.488-1.22 1.22 0 .731.488 1.219 1.22 1.219 3.414 0 6.341 2.805 6.341 6.341 0 .732.488 1.22 1.22 1.22.731 0 1.219-.488 1.219-1.22A8.744 8.744 0 0 0 78.22 32z" fill="#67768C" fill-rule="nonzero"></path>
            <circle fill="#24334A" fill-rule="nonzero" cx="18" cy="87" r="2"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="8" cy="8" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="13" cy="8" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="18" cy="8" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="23" cy="8" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="28" cy="8" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="8" cy="13" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="13" cy="13" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="18" cy="13" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="23" cy="13" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="28" cy="13" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="8" cy="17" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="13" cy="17" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="18" cy="17" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="23" cy="17" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="28" cy="17" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="8" cy="22" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="13" cy="22" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="18" cy="22" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="23" cy="22" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="28" cy="22" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="8" cy="26" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="13" cy="26" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="18" cy="26" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="23" cy="26" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="28" cy="26" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="8" cy="31" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="13" cy="31" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="18" cy="31" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="23" cy="31" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="28" cy="31" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="8" cy="35" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="13" cy="35" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="18" cy="35" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="23" cy="35" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="28" cy="35" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="8" cy="40" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="13" cy="40" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="18" cy="40" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="23" cy="40" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="28" cy="40" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="8" cy="44" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="13" cy="44" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="18" cy="44" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="23" cy="44" r="1"></circle>
            <circle fill="#24334A" fill-rule="nonzero" cx="28" cy="44" r="1"></circle>
            <path d="M26.826 0H7.404C3.277 0 0 3.314 0 7.487V44.8c0 4.173 3.277 7.487 7.404 7.487h4.613L10.44 88.004c-.121 1.841.607 3.56 1.82 4.91C13.475 94.263 15.174 95 16.995 95c1.82 0 3.52-.736 4.734-2.087 1.214-1.35 1.942-3.068 1.82-4.91l-1.577-35.716h4.612c4.127 0 7.405-3.314 7.405-7.487V7.364C34.23 3.314 30.832 0 26.826 0zm-5.584 88.127c0 1.104-.364 2.209-1.214 3.068-1.578 1.718-4.49 1.718-6.069 0-.85-.86-1.214-1.964-1.214-3.068l1.578-35.84h5.22l1.7 35.84zM31.802 44.8c0 2.7-2.184 5.032-4.976 5.032H7.404c-2.67 0-4.976-2.21-4.976-5.032V7.364c0-2.7 2.185-5.032 4.976-5.032h19.3c2.671 0 4.977 2.21 4.977 5.032V44.8h.122z" fill="#24334A" fill-rule="nonzero"></path>
        </g>
    </svg>
</span>