<div class="form-group d-none" id="NotifyNoStaff">
    <div class="col-md-12 containtNotification offset-sm-2 offset-md-3 offset-lg-4 col-rt-offset-5  col-fhd-offset-4">
        <div class="col-md-12">
            <img src="~/img/icon_calendar.png" />
        </div>
        <p class="h3">No Scheduled Staff</p>
        <p>
            Oops! There are no staff members available. See the
            <a class="btn-link" name="openDialogChangeStaff" style="cursor:pointer" onclick="location.href = '/Staff/StaffMember'"> staff </a>
            section to enable appointment bookings for staff members.
        </p>
    </div>
</div>