<div class="col-12 b-0 p-0 form-group">
    <div class="col-12 col-md-2 col-sm-12">
        <select id="locationSearch" class="form-control"></select>
    </div>
    <div class="col-12 col-md-2 col-sm-12">
        <select id="staffResourSearch" class="form-control"></select>
    </div>
    <div class="col-12 col-fhd-5 col-xlg-5 col-md-5 col-sm-12 col-xs-5" id="ContaintDatePicker">
    </div>
    <div class="col-sm-12 col-md-3 col-12 text-right">
        <button type="button" class="btn-outline-schedul" aria-pressed="true" id="buttonWeekMod">Week</button>
        <button type="button" class="btn-schedul" aria-pressed="true" id="buttonDayMod">Day</button>
    </div>
</div>