<div class="col-12 b-0 p-1 form-group cal-header">
    <div class="row">
        <div class="col-12">
            <div class="col-md-4 col-xs-4">
                <div class="col-md-6">
                    @*<div class="hidden-xs">
                        <select id="locationSearch" data-qa="view-selector" class="form-control" style="height:40px;"></select>
                    </div>
                    <div class="hidden-xlg hidden-lg hidden-md hidden-sm">*@
                        <span class="_1IRrmJJ _26n0p22 _2_z56bb">
                            <select id="locationSearch" data-qa="view-selector" class="form-control _3b4Iwbb" style="height:40px;"></select>
                            @*<span class="_2FSeuB _240vE8 RCcMXQ _2zJMJY _2hkIol hidden-sm hidden-md hidden-lg hidden-xlg" style="top: 25%;left: 20%;">*@
                                <i class="icon-user"></i>
                            @*</span>*@
                        </span>
                    @*</div>*@
                </div>
                <div class="col-md-6">
                    <span class="_1IRrmJJ _26n0p22 _2_z56bb">
                        @*<span class="_1IRrmJ _26n0p2 _2_z56b">*@
                        <select id="staffResourSearch" class="form-control _3b4Iwbb" style="height:40px;"></select>
                        @*<span class="_2FSeuB _240vE8 RCcMXQ _2zJMJY _2hkIol hidden-sm hidden-md hidden-lg hidden-xlg" style="top: 25%;left: 20%;">*@
                            <i class="icon-user"></i>
                        @*</span>*@
                    </span>
                </div>
            </div>
            
            <div class="col-md-4 cal col-xs-4" id="ContaintDatePicker">
            </div>
            <div class="col-md-4 text-right col-xs-4 rightside-day">

                <div class=" hidden-xs">
                    <button type="button" class="btn-outline-schedul" aria-pressed="true" id="buttonWeekMod">Week</button>
                    <button type="button" class="btn-schedul" aria-pressed="true" id="buttonDayMod">Day</button>
                </div>
                <div class="hidden-sm hidden-md hidden-lg hidden-xlg ">
                    <span class="_1IRrmJJ _26n0p22 _2_z56bb">
                        @*<span class="_1IRrmJ _26n0p2 _2_z56b">*@
                        <select data-qa="view-selector" class="form-control _3b4Iwbb" style="height:40px;">
                            <option value="week">Week</option>
                            <option value="day">Day</option>
                        </select>
                        @*<span class="_2FSeuB _240vE8 RCcMXQ _2zJMJY _2hkIol hidden-sm hidden-md hidden-lg hidden-xlg" style="top: 25%;right: 40px;">*@
                            <i class="icon-calendar"></i>
                        @*</span>*@
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="col-12 b-0 p-0 form-group">
        <div class="col-12 col-md-2 col-sm-12">
            <select id="locationSearch" class="form-control"></select>
        </div>
        <div class="col-12 col-md-2 col-sm-12">
            <select id="staffResourSearch" class="form-control"></select>
        </div>
        <div class="col-12 col-fhd-5 col-xlg-5 col-md-5 col-sm-12 col-xs-5" id="ContaintDatePicker">
        </div>
        <div class="col-sm-12 col-md-3 col-12 text-right">
            <button type="button" class="btn-outline-schedul" aria-pressed="true" id="buttonWeekMod">Week</button>
            <button type="button" class="btn-schedul" aria-pressed="true" id="buttonDayMod">Day</button>
        </div>
    </div>*@