@using AdminClient.Controllers.Global;
<!--#region Html-->
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><strong>Setting</strong></h2>
                            <p class="text-muted"></p>
                            <div class="form-group" style="border-bottom: 1px solid #dee3e7;">
                                <button type="button" onclick="location.href = '/AdminSetting/SiteSetup'" class="btn btn-link form-control" style="text-align:left">Site setup</button>
                            </div>
                            <div class="form-group" style="border-bottom: 1px solid #dee3e7;">
                                <button type="button" onclick="location.href = '/AdminSetting/ClientNotifications'" class="btn btn-link form-control" style="text-align:left">Default Clients Notifications</button>
                            </div>
                            <div class="form-group" style="border-bottom: 1px solid #dee3e7;">
                                <button type="button" onclick="location.href = '/AdminSetting/Package'" class="btn btn-link form-control" style="text-align:left">Packages</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
           
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
<!--#endregion-->
<!--#region Include JS-->
<!--#endregion-->