<div class="modal fade modal-fullsrceen" id="modalAppointmentAction" ismodal>
    <div class="modal-dialog" role="document" style="position:fixed">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">New Appointment</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <form novalidate="novalidate" id="appointmentNewForm"></form>
            </div>
        </div>
    </div>
</div>