<div class="modal fade modal-fullsrceen" id="modalAppointmentView" ismodal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">View Appointment</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <form novalidate="novalidate" id="appointmentViewForm"></form>
            </div>
        </div>
    </div>
</div>