<div class="modal fade " id="modalService" ismodal>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="TitleServiceModal">Modal title</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate="novalidate" id="serviceForm">
                    <div class="row">
                        <div class="col-md-12 mb-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#details" role="tab" aria-controls="details">DETAILS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#staff" role="tab" aria-controls="staff">STAFF</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#resources" role="tab" aria-controls="resources">RESOURCES</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#distribution" role="tab" aria-controls="distribution ">DISTRIBUTION</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="details" role="tabpanel">
                                    <div class="row">
                                        <div class="col-fhd-4 col-xlg-4 col-md-4 col-sm-12 col-xs-4">
                                            <div class="form-group">
                                                <input type="hidden" id="ServiceID" name="ServiceID" ispropertiesidmodel ispropertiesmodel />
                                                <input type="hidden" id="ServiceGroupID" name="ServiceGroupID" ispropertiesmodel />
                                                <label class="col-form-label">SERVICE NAME</label>
                                                <input type="text" class="form-control" id="ServiceName" name="ServiceName" placeholder="e.g. Haircut" ispropertiesmodel>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">TREATMENT TYPE</label>
                                                <select style="width: 100%" id="TreatmentType" urlselection="/Home/GetTreatmentTypeBaseId" name="TreatmentType" ispropertiesmodel></select>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">AVAILABLE FOR</label>
                                                <select style="width: 100%" id="AvailableFor" urlselection="/Home/GetAvailableForBaseId" name="AvailableFor" ispropertiesmodel></select>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">TAX</label>
                                                <select style="width: 100%" id="TaxID" urlselection="/Home/GetTaxBaseId" name="TaxID" ispropertiesmodel></select>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="EnableCommission" id="EnableCommission" ispropertiesmodel /> ENABLE COMMISSION
                                            </div>
                                        </div>
                                        <div class="col-fhd-8 col-xlg-8 col-md-8 col-sm-12 col-xs-8">
                                            <div class="form-group">
                                                <label class="col-form-label">PRICING TYPE</label>
                                                <select style="width: 100%" id="PricingType" urlselection="/Home/GetPricingTypeBaseId" name="PricingType" ispropertiesmodel></select>
                                            </div>
                                            <div class="form-group" style="overflow:auto">
                                                <table class="table table-responsive-sm table-striped table-sm datatable no-footer" id="tableDetailService" style="min-width: 600px">
                                                    <thead>
                                                        <tr>
                                                            <th>DURATION</th>
                                                            <th>RETAIL PRICE</th>
                                                            <th>SPECIAL PRICE</th>
                                                            <th>CAPTION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-fhd-12 col-xlg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <button type="button" class="btn btn-square btn-block btn-light" id="newRowDetailService"><i class="icon-plus icons"></i> Add new option</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-fhd-8 col-xlg-8 col-md-8 col-sm-12 col-xs-8">
                                                    <div class="row">
                                                        <label class="col-form-label">EXTRA TIME TYPE</label>
                                                        <select style="width: 100%" id="ExtraTimeType" urlselection="/Home/GetExtraTimeTypeBaseId" name="ExtraTimeType" ispropertiesmodel></select>
                                                    </div>
                                                </div>
                                                <div class="col-fhd-4 col-xlg-4 col-md-4 col-sm-12 col-xs-4">
                                                    <div class="row">
                                                        <label class="col-form-label">DURATION</label>
                                                        <select style="width: 100%" id="ExtraTimeDuration" urlselection="/Home/GetDurationBaseId" name="ExtraTimeDuration" ispropertiesmodel></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="staff" role="tabpanel">
                                    <div class="row">
                                        <div class="col-fhd-12 col-xlg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="col-fhd-12 col-xlg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 15px; padding-right: 15px">
                                                    <input type="checkbox" id="checkAllStaff" /> <span style="margin-left: 5px">Select All</span>
                                                </div>
                                            </div>
                                            <div class="form-group" id="containtStaff"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="resources" role="tabpanel">
                                    <div class="row">
                                        <div class="col-fhd-12 col-xlg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group" style="padding-left: 15px; padding-right: 15px">
                                                <label class="switch switch-icon switch-pill switch-primary">
                                                    <input type="checkbox" class="switch-input" id="ResourceRequired" name="ResourceRequired" ispropertiesmodel checked="">
                                                    <span class="switch-label" data-on="" data-off=""></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                                <label class="col-form-label">RESOURCE REQUIRED</label>
                                            </div>
                                            <div class="form-group" id="containtResource"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="distribution" role="tabpanel">
                                    <div class="row">
                                        <div class="col-fhd-6 col-xlg-6 col-md-6 col-sm-12 col-xs-6">
                                            <div class="form-group">
                                                <div class="col-fhd-12 col-xlg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <input type="checkbox" id="EnableOnlineBookings" name="EnableOnlineBookings" ispropertiesmodel /> <span style="margin-left: 5px">ENABLE ONLINE BOOKINGS</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-fhd-12 col-xlg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <input type="checkbox" id="EnableVoucherSales" name="EnableVoucherSales" ispropertiesmodel /> <span style="margin-left: 5px">ENABLE VOUCHER SALES </span>
                                                </div>
                                            </div>
                                            <div class="form-group" id="containtVoucherExpiryPeriod">
                                                <div class="col-fhd-12 col-xlg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label class="col-form-label">VOUCHER EXPIRY PERIOD</label>
                                                    <select style="width: 100%" id="VoucherExpiryPeriod" urlselection="/Home/GetVoucherExpiryPeriodBaseId" name="VoucherExpiryPeriod" ispropertiesmodel></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-fhd-6 col-xlg-6 col-md-6 col-sm-12 col-xs-6">
                                            <div class="form-group">
                                                <div class="col-fhd-12 col-xlg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label class="col-form-label">SERVICE DESCRIPTION</label>
                                                    <textarea ispropertiesmodel id="ServiceDescription" name="ServiceDescription" class="form-control" rows="5"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-fhd-3 col-xlg-3 col-md-3 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-danger btn-block active" id="deleteServiceButton">DELETE</button>
                </div>
                <div class="col-fhd-3 col-xlg-3 col-md-3 col-sm-6 col-xs-6 hidden-xs"></div>
                <div class="col-fhd-3 col-xlg-3 col-md-3 col-sm-6 col-xs-6 hidden-xs">
                    <button type="button" class="btn btn-block btn-outline-dark" data-dismiss="modal">CANCEL</button>
                </div>
                <div class="col-fhd-3 col-xlg-3 col-md-3 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-block btn-success" id="actionServiceButton" data-style="slide-right">SAVE</button>
                </div>
            </div>
        </div>
    </div>
</div>