<h2 class="analy-title">Payments log</h2>
<div class="col-md-12">
    <div id="formReport">
        <div class="form-group containtControl">
            <div class="form-group col-fhd-4 col-xlg-4 col-md-3 col-sm-12 col-xs-4">
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </span>
                    <input name="searchDate" id="searchDate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group col-fhd-2 col-xlg-2 col-md-2 col-sm-12 col-xs-2">
                <select style="width: 100%" id="LocationID" name="LocationID"></select>
            </div>
            <div class="form-group col-fhd-2 col-xlg-2 col-md-2 col-sm-12 col-xs-2">
                <select style="width: 100%" id="StaffID" name="StaffID"></select>
            </div>
            <div class="form-group col-fhd-2 col-xlg-2 col-md-3 col-sm-12 col-xs-2">
                <select class="form-control" style="width:100%" id="IncludeVoucher">
                    <option value="include">Include redemptions</option>
                    <option value="exclude">Exclude redemptions</option>
                </select>
            </div>
            <div class="form-group col-fhd-2 col-xlg-2 col-md-2 col-sm-12 col-xs-2">
                <button type="button" name="btnView" id="btnView" class="btn btn-square btn-block btn-info" style="width:80px;">View</button>
            </div>
            <button type="button" class="btn btn-info dropdown-toggle export-btn" style="position: absolute;right: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Export
            </button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                <a class="dropdown-item" href="#" style="padding:0px" id="buttonExcel"></a>
                <a class="dropdown-item" href="#" id="buttonCSV" style="padding:0px"></a>
                <a class="dropdown-item" href="#" id="buttonPDF" style="padding:0px"></a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-12"><h6 id="txtfilter"></h6></div>
    <div class="col-md-12 containtTable">
        <table class="table table-responsive-sm table-sm datatable no-footer" id="table" style="width:100%">
            <thead>
                <tr>
                    <th>Payment Date</th>
                    <th>Location</th>
                    <th>Invoice No</th>
                    <th>Client</th>
                    <th>Staff</th>
                    <th>Transaction</th>
                    <th>Method</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>



<script src="@Url.Content("~/Scripts/report/analytics/paymentlog.js")"></script>
