<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Authentication Kyrio">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="author" content="MAPLE JSC">
    <meta name="keyword" content="Authentication Kyrio">
    <title>Authentication Kyrio</title>
    @Styles.Render("~/Style/index")
    @Scripts.Render("~/Scripts/loadHeaderIndex")
</head>
<body class="app flex-row align-items-center" style="background-color:#007FC9">
    <div class="container">
        <div class="row justify-content-center">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/Scripts/loadfooterIndex")
</body>
</html>