<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form id="formInvoices">
                    <div class="form-group containtControl">
                        <div class="form-group col-fhd-6 col-xlg-6 col-md-6 col-sm-12 col-xs-12 invoice-head-left">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </span>
                                <input name="searchDate" id="searchDate" class="form-control" type="text">
                            </div>
                            <select style="width: 100%" id="LocationID" name="LocationID"></select>
                            <button type="button" name="btnView" id="btnView" class="btn btn-square btn-block btn-info" style="width:80px">View</button>

                        </div>
                        <div class="form-group col-fhd-2 col-xlg-2 col-md-2 col-sm-12 col-xs-2 float-right">
                            <button type="button" class="btn btn-info dropdown-toggle export-btn" style="position: absolute;right: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Export
                            </button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                                <a class="dropdown-item" href="#" style="padding:0px" id="buttonExcel"></a>
                                <a class="dropdown-item" href="#" id="buttonCSV" style="padding:0px"></a>
                                <a class="dropdown-item" href="#" id="buttonPDF" style="padding:0px"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12"><h6 id="txtfilter"></h6></div>
                        <div class="col-md-12 containtTable">
                            <table class="table table-sm datatable no-footer" style="width:100%" id="table1">
                                <thead>
                                    <tr>
                                        <th>INVOICE #</th>
                                        <th>CLIENT</th>
                                        <th>STATUS</th>
                                        <th>INVOICE DATE</th>
                                        <th>LOCATION</th>
                                        <th>GROSS TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--#region Include JS-->
<script src="@Url.Content("~/Scripts/report/invoices.js")"></script>
<!--#endregion-->
