<div class="card mx-4">
    <form id="changePasswordForm">
        <div class="card-header p-4">
            <h1 style="text-align:center">Change your password</h1>
        </div>
        <div class="card-body p-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="New password" id="NewPassword" name="NewPassword">
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Confirm your new password" id="RepeatPassword" name="RepeatPassword">
            </div>
            <button type="button" id="changePasswordButton" class="btn btn-block btn-custome" data-style="slide-right" isbuttonexcute>Change password reset</button>
        </div>
        <div class="card-footer p-4">
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-link active" onclick="location.href = '/Login/Index#forgotpassword'">Forgot your password?</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-link active">Support Center</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Don't have a free Kyrio Account yet?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-success" onclick="location.href = '/Login/Index#register'">Register your business</button>
                </div>
            </div>
        </div>
    </form>
</div>