<div class="card mx-4">
    <form id="forgotPasswordForm">
        <div class="card-header p-4">
            <h1 style="text-align:center">Reset your password</h1>
        </div>
        <div class="card-body p-4">
            <p class="text-muted">Enter your registered login email address, we'll send you a link to set a new password</p>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-envelope"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Email" id="Email" name="Email">
            </div>
            <button type="button" id="forgotPasswordButton" class="btn btn-block btn-custome" data-style="slide-right" isbuttonexcute>Send password reset</button>
        </div>
        <div class="card-footer p-4">
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-link active" onclick="location.href = '/Login/Index#login'">Go back to login page</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-link active">Support Center</button>
                </div>
            </div>
        </div>
    </form>
</div>